<!--The content below is only a placeholder and can be replaced.-->
<div class="profile">
  <div *ngIf="authService.user | async as u; else showLogin">
    <span>{{ u.displayName }}</span>
    <img src="{{u.avatarUrl}}" alt="">
    <!--<h2 *ngIf="authService.accessToken | async as token">{{token}}</h2>-->
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Github</button>
  </ng-template>
</div>

<div class="issues">
  <div *ngFor="let i of issues" class="issue">
    <div>{{i.user.login}}</div>
    <div>{{i.body}}</div>
  </div>
</div>
