:host {
  position: absolute;
  pointer-events: none;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;

  grid-template-areas:
    ". . . profile"
    "main main center sidebar"
    "footer footer footer footer";

  top: 0;
  right: 0;
  left: 0;
  color: green;
}

:host * {
  pointer-events: auto;
}

:host-context(html) {
  width: 100%;
}

.profile {
  grid-area: profile;
  padding: 0.5rem;
  max-width: 200px;

  div {
    display: grid;
    grid-gap: .5rem;
    justify-items: center;
  }

  img {
    border-radius: 100%;
    width: 50%;
  }

  button {
    width: 100%;
  }

}

.issues {
  grid-area: sidebar;
}


.issue {
  border: 1px solid red;
  div {
    padding: 0.5em;
  }
}

:host ::ng-deep {
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

}
